#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #ff5722, #ffc107);
    padding: 0 15px !important;
    color: #fff !important;
}
.navbar-brand{
    color: #fff !important;
}
.nav-link{
    color: #fff !important;
}
.nav-link:hover{
    color: #000 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
#banner{
    background-image: linear-gradient(#ff5722, #ffc107);
    position: relative;
    height: 90vh;
    overflow: hidden;
    font-family: sans-serif;
    padding-top: 5%;
    color: #fff;
}
h1{
    color: #ffd;
}
p{
    color: #fff;
}
.square ul{
    margin: 0 !important;
}
ul li{
    position: absolute;
    border: 10px solide #fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background-color: #fff;
}
.square li{
    top: 50vh;
    left: 10vh;
    animation: square 10s linear infinite;
}
.square li:nth-child(2){
    top: 80vh;
    left: 10vh;
    animation-delay: 2s;
}
.square li:nth-child(3){
    top: 80vh;
    left: 80vw;
    animation-delay: 4s;
}
.square li:nth-child(4){
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;
}
.square li:nth-child(5){
    top: 10vh;
    left: 85vw;
    animation-delay: 6s;
}
@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }

}
.circle ul{
    margin: 0 !important;
}
.circle li{
    bottom: 0vh;
    left: 15vw;
    animation: circle 10s linear infinite;
}
.circle li:nth-child(2){
    left: 35vw;
    animation-delay: 2s;
}
.circle li:nth-child(3){
    left: 55vw;
    animation-delay: 6s;
}
.circle li:nth-child(4){
    left: 75vw;
    animation-delay: 4s;
}
.circle li:nth-child(5){
    left: 90vw;
    animation-delay: 8s;
}
@keyframes circle {
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }

}

.footer{
    background-color: #2C3E50;
    color: #fff;
    padding: 20px 0px 20px 30px;
}
h4{
    border-bottom: solid 2px #ff8616;
    width: 120px;
    padding-bottom: 5px;
}
